@CHARSET "UTF-8";

@media only screen and (max-width : 1100px) {
	.bannerimage {
		visibility: hidden;
		display: none;
	}
}

html {
    background: rgba(0, 0, 0, 0) url("../images/photo-montage1.png") no-repeat scroll center bottom;
    min-height: 100%;
    padding-bottom: 250px;
    position: relative;
}

body {
	background-color: transparent;
}

.header {
	background: rgba(0, 0, 0, 0) url("../images/solid_background.png") repeat scroll left;
	#background: #e18728 none repeat scroll 0 0;
	height: 120px;
	border-bottom: 5px #014133 solid;
}

.bannerimage {
	background: rgba(0, 0, 0, 0) url("../images/womanpizza.png") no-repeat scroll center top;
	width: 190px;
	height: 126px;
	margin-top: -60px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-left: 10%;
	position: absolute;
	clear: both;
	
}

#logo {
	background: rgba(0, 0, 0, 0) url("../images/PizzaPerfection.png") no-repeat scroll center top;
	width: 600px;
	height: 100px;
	margin: auto;
	margin-top: 5px;
}