<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">
  <display-name>PizzaPerfection</display-name>
  
	<servlet>
		<servlet-name>OptionsServlet</servlet-name>
		<servlet-class>com.jwad.pizzaperfection.webservlet.OptionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OptionsServlet</servlet-name>
		<url-pattern>/options/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReviewServlet</servlet-name>
		<servlet-class>com.jwad.pizzaperfection.webservlet.ReviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewServlet</servlet-name>
		<url-pattern>/review/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReviewAddonsServlet</servlet-name>
		<servlet-class>com.jwad.pizzaperfection.webservlet.ReviewAddonsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewAddonsServlet</servlet-name>
		<url-pattern>/reviewaddons/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReviewOrderServlet</servlet-name>
		<servlet-class>com.jwad.pizzaperfection.webservlet.ReviewOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewOrderServlet</servlet-name>
		<url-pattern>/revieworder/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.jwad.pizzaperfection.webservlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PaymentServlet</servlet-name>
		<servlet-class>com.jwad.pizzaperfection.webservlet.PaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentServlet</servlet-name>
		<url-pattern>/payment/</url-pattern>
	</servlet-mapping>
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>